*.log
*.tmp
*.swp
*.iml
*.class
*.DS_Store
.idea/
.vscode/
out/
dist/
build/

### BACKEND (Spring Boot / Maven) ###
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

### BACKEND (Gradle, if used) ###
backend/.gradle/
backend/build/
backend/gradle-app.setting

*.jar
*.war
*.ear

web/node_modules/
web/dist/
web/.angular/cache/
web/.angular/
# web/package-lock.json  

android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
*.keystore
*.jks

Thumbs.db
ehthumbs.db
Desktop.ini

*.env
*.env.local
.env
.env.*
