<nav class="navbar">
  <div class="nav-left">
    <a class="nav-link" routerLink="/user/home" routerLinkActive="active">
      Home
    </a>

    <a class="nav-link" routerLink="/user/ride-history" routerLinkActive="active">
      Ride History
    </a>

    <a class="nav-link" routerLink="/user/reports" routerLinkActive="active">
      Reports
    </a>

    <a
      class="nav-link"
      [routerLink]="['/user/ride-tracking']"
      [queryParams]="liveTrackingRideId ? { rideId: liveTrackingRideId } : null"
      routerLinkActive="active"
    >
      Live Tracking
    </a>    

  </div>

  <div class="nav-center">
    <div class="panic-btn" routerLink="/user/support" routerLinkActive="active-panic">
      <img src="panic.svg" alt="panic" />
    </div>
  </div>

  <div class="nav-right">
    <div class="notif-wrapper">
  <button class="notif-btn" (click)="toggle()">
    🔔
    <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
  </button>

  <div class="notif-dropdown" *ngIf="open">
    <div
      class="notif-item"
      *ngFor="let n of notifications"
      (click)="clickNotification(n)"
      [class.unread]="!n.readAt"
    >
      <div class="title">{{ n.title }}</div>
      <div class="msg">{{ n.message }}</div>
    </div>

    <div *ngIf="notifications.length === 0" class="empty">
      No notifications
    </div>
  </div>
</div>

    <a class="nav-link" routerLink="/user/support" routerLinkActive="active">
      Support
    </a>
    <a class = "nav-link" routerLink="/user/profile" routerLinkActive="active">
      Profile
    </a>
      <button class="nav-link logout-btn" type="button" (click)="logout()">
        Log Out
      </button>
  </div>
</nav>
