<div class="login-wrapper">
  <!-- Logo aplikacije -->
  <div class="logo-container">
    <img src="/logo.png" alt="Taxi Logo" />
  </div>

  <!-- Naslov ekrana -->
  <h2>WELCOME BACK</h2>

  <!-- Link ka registraciji -->
  <p>
    Don't have an account yet?
    <a routerLink="/sign-up">Sign up</a>
  </p>
  <div *ngIf="error" class="error-banner">
    {{ error }}
  </div>


  <!--  Reactive Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

    <!-- Email input -->
    <div class="input-group">
      <img src="/mail.png" alt="email" />
      <input
        type="email"
        placeholder="Email address"
        formControlName="email"
      />
    </div>
    <!-- Error poruka za email -->
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
         class="error">
      Valid email is required
    </div>

    <!-- Password input -->
    <div class="input-group">
      <img src="/locked-computer.png" alt="password" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <!-- Error poruka za password -->
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
         class="error">
      Password is required
    </div>

    <!-- Link za reset lozinke -->
    <div class="forgot-password">
      <a routerLink="/reset-password" class="forgot-link">Forgot password?</a>
    </div>

    <!-- Submit dugme -->
    <button class="login-btn" type="submit" [disabled]="loginForm.invalid || loading">
      {{ loading ? 'LOGGING IN...' : 'LOG IN' }}
    </button>

  </form>