
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/background.webp') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-wrapper {
  width: 400px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 18px;
  /*box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);*/
  text-align: center;
  color: #fff;
}

.new-wrapper h2 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.new-form .input-group {
  display: flex;
  align-items: center;
  gap: 11px;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px 14px;
  border-radius: 24px;
  margin-bottom: 16px;
}

.new-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  line-height: 1.2;
}

.new-form input::placeholder {
  color: #ddd;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.arrow-btn:hover {
  transform: translateX(4px);
}

 
.arrow-btn img {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}

.error {
  text-align: left;        
  margin-top: 6px;         
  margin-bottom: 10px;     
  font-size: 13px;
  color: #ffaaaa;          
  padding-left: 8px;      
}