* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/background.webp') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.forgot-wrapper {
  width: 420px;
  padding: 40px 32px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 22px;
  /*box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);*/
  text-align: center;
}

/* Logo */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.logo-container img {
  width: 70px;
  height: auto;
}

/* Title */
.forgot-wrapper h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 26px;
}

/* Form */
.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Input */
.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.15);
  padding: 14px 18px;
  border-radius: 30px;
}

.input-group img {
  width: 18px;
  opacity: 0.8;
}

.input-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
}

.input-group input::placeholder {
  color: #ddd;
}

/* Arrow button */
.arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: transparent;   /* uklanja beli krug */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.arrow-btn:hover {
  transform: translateX(4px);
}
.arrow-btn img {
  width: 40px;   /* smanji ikonicu */
  height: 40px;
  display: block;
  margin: auto;
}